<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jifen.dao.ProjectDiagnosisMapper">
  <resultMap id="BaseResultMap" type="com.jifen.entity.ProjectDiagnosis">
    <id column="only_id" jdbcType="VARCHAR" property="onlyId" />
    <result column="project_number" jdbcType="VARCHAR" property="projectNumber" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="classification" jdbcType="INTEGER" property="classification" />
    <result column="ceiling_price" jdbcType="DECIMAL" property="ceilingPrice" />
    <result column="wubi_code" jdbcType="VARCHAR" property="wubiCode" />
    <result column="alphabetic_code" jdbcType="VARCHAR" property="alphabeticCode" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="deduct" jdbcType="DECIMAL" property="deduct" />
    <result column="particularly" jdbcType="INTEGER" property="particularly" />
    <result column="is_open" jdbcType="INTEGER" property="isOpen" />
  </resultMap>
  <sql id="Base_Column_List">
    only_id, project_number, project_name, price, unit, classification, ceiling_price, 
    wubi_code, alphabetic_code, remarks, deduct, particularly, is_open
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from project_diagnosis
    where only_id = #{onlyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from project_diagnosis
    where only_id = #{onlyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jifen.entity.ProjectDiagnosis">
    insert into project_diagnosis (only_id, project_number, project_name, 
      price, unit, classification, 
      ceiling_price, wubi_code, alphabetic_code, 
      remarks, deduct, particularly, 
      is_open)
    values (#{onlyId,jdbcType=VARCHAR}, #{projectNumber,jdbcType=VARCHAR}, #{projectName,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{unit,jdbcType=VARCHAR}, #{classification,jdbcType=INTEGER}, 
      #{ceilingPrice,jdbcType=DECIMAL}, #{wubiCode,jdbcType=VARCHAR}, #{alphabeticCode,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR}, #{deduct,jdbcType=DECIMAL}, #{particularly,jdbcType=INTEGER}, 
      #{isOpen,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jifen.entity.ProjectDiagnosis">
    insert into project_diagnosis
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="onlyId != null">
        only_id,
      </if>
      <if test="projectNumber != null">
        project_number,
      </if>
      <if test="projectName != null">
        project_name,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="classification != null">
        classification,
      </if>
      <if test="ceilingPrice != null">
        ceiling_price,
      </if>
      <if test="wubiCode != null">
        wubi_code,
      </if>
      <if test="alphabeticCode != null">
        alphabetic_code,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="deduct != null">
        deduct,
      </if>
      <if test="particularly != null">
        particularly,
      </if>
      <if test="isOpen != null">
        is_open,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="onlyId != null">
        #{onlyId,jdbcType=VARCHAR},
      </if>
      <if test="projectNumber != null">
        #{projectNumber,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="classification != null">
        #{classification,jdbcType=INTEGER},
      </if>
      <if test="ceilingPrice != null">
        #{ceilingPrice,jdbcType=DECIMAL},
      </if>
      <if test="wubiCode != null">
        #{wubiCode,jdbcType=VARCHAR},
      </if>
      <if test="alphabeticCode != null">
        #{alphabeticCode,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="deduct != null">
        #{deduct,jdbcType=DECIMAL},
      </if>
      <if test="particularly != null">
        #{particularly,jdbcType=INTEGER},
      </if>
      <if test="isOpen != null">
        #{isOpen,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jifen.entity.ProjectDiagnosis">
    update project_diagnosis
    <set>
      <if test="projectNumber != null">
        project_number = #{projectNumber,jdbcType=VARCHAR},
      </if>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="classification != null">
        classification = #{classification,jdbcType=INTEGER},
      </if>
      <if test="ceilingPrice != null">
        ceiling_price = #{ceilingPrice,jdbcType=DECIMAL},
      </if>
      <if test="wubiCode != null">
        wubi_code = #{wubiCode,jdbcType=VARCHAR},
      </if>
      <if test="alphabeticCode != null">
        alphabetic_code = #{alphabeticCode,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="deduct != null">
        deduct = #{deduct,jdbcType=DECIMAL},
      </if>
      <if test="particularly != null">
        particularly = #{particularly,jdbcType=INTEGER},
      </if>
      <if test="isOpen != null">
        is_open = #{isOpen,jdbcType=INTEGER},
      </if>
    </set>
    where only_id = #{onlyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jifen.entity.ProjectDiagnosis">
    update project_diagnosis
    set project_number = #{projectNumber,jdbcType=VARCHAR},
      project_name = #{projectName,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      unit = #{unit,jdbcType=VARCHAR},
      classification = #{classification,jdbcType=INTEGER},
      ceiling_price = #{ceilingPrice,jdbcType=DECIMAL},
      wubi_code = #{wubiCode,jdbcType=VARCHAR},
      alphabetic_code = #{alphabeticCode,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      deduct = #{deduct,jdbcType=DECIMAL},
      particularly = #{particularly,jdbcType=INTEGER},
      is_open = #{isOpen,jdbcType=INTEGER}
    where only_id = #{onlyId,jdbcType=VARCHAR}
  </update>
</mapper>