<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jifen.dao.SymptomHospitalMapper">
  <resultMap id="BaseResultMap" type="com.jifen.entity.SymptomHospital">
    <id column="only_id" jdbcType="VARCHAR" property="onlyId" />
    <result column="chief_info" jdbcType="VARCHAR" property="chiefInfo" />
    <result column="history_of_present" jdbcType="VARCHAR" property="historyOfPresent" />
    <result column="previous_history" jdbcType="VARCHAR" property="previousHistory" />
    <result column="allergic_history" jdbcType="VARCHAR" property="allergicHistory" />
    <result column="animal_heat" jdbcType="DOUBLE" property="animalHeat" />
    <result column="bpm" jdbcType="DOUBLE" property="bpm" />
    <result column="breathe" jdbcType="INTEGER" property="breathe" />
    <result column="stature" jdbcType="INTEGER" property="stature" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="bmi" jdbcType="DOUBLE" property="bmi" />
    <result column="actuating_pressure" jdbcType="DOUBLE" property="actuatingPressure" />
    <result column="diastolic_pressure" jdbcType="DOUBLE" property="diastolicPressure" />
    <result column="diagnose" jdbcType="VARCHAR" property="diagnose" />
    <result column="examination" jdbcType="VARCHAR" property="examination" />
    <result column="handling_suggestion" jdbcType="VARCHAR" property="handlingSuggestion" />
    <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime" />
  </resultMap>
  <sql id="Base_Column_List">
    only_id, chief_info, history_of_present, previous_history, allergic_history, animal_heat, 
    bpm, breathe, stature, weight, bmi, actuating_pressure, diastolic_pressure, diagnose, 
    examination, handling_suggestion, creation_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from symptom_hospital
    where only_id = #{onlyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from symptom_hospital
    where only_id = #{onlyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jifen.entity.SymptomHospital">
    insert into symptom_hospital (only_id, chief_info, history_of_present, 
      previous_history, allergic_history, animal_heat, 
      bpm, breathe, stature, 
      weight, bmi, actuating_pressure, 
      diastolic_pressure, diagnose, examination, 
      handling_suggestion, creation_time)
    values (#{onlyId,jdbcType=VARCHAR}, #{chiefInfo,jdbcType=VARCHAR}, #{historyOfPresent,jdbcType=VARCHAR}, 
      #{previousHistory,jdbcType=VARCHAR}, #{allergicHistory,jdbcType=VARCHAR}, #{animalHeat,jdbcType=DOUBLE}, 
      #{bpm,jdbcType=DOUBLE}, #{breathe,jdbcType=INTEGER}, #{stature,jdbcType=INTEGER}, 
      #{weight,jdbcType=DOUBLE}, #{bmi,jdbcType=DOUBLE}, #{actuatingPressure,jdbcType=DOUBLE}, 
      #{diastolicPressure,jdbcType=DOUBLE}, #{diagnose,jdbcType=VARCHAR}, #{examination,jdbcType=VARCHAR}, 
      #{handlingSuggestion,jdbcType=VARCHAR}, #{creationTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jifen.entity.SymptomHospital">
    insert into symptom_hospital
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="onlyId != null">
        only_id,
      </if>
      <if test="chiefInfo != null">
        chief_info,
      </if>
      <if test="historyOfPresent != null">
        history_of_present,
      </if>
      <if test="previousHistory != null">
        previous_history,
      </if>
      <if test="allergicHistory != null">
        allergic_history,
      </if>
      <if test="animalHeat != null">
        animal_heat,
      </if>
      <if test="bpm != null">
        bpm,
      </if>
      <if test="breathe != null">
        breathe,
      </if>
      <if test="stature != null">
        stature,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="bmi != null">
        bmi,
      </if>
      <if test="actuatingPressure != null">
        actuating_pressure,
      </if>
      <if test="diastolicPressure != null">
        diastolic_pressure,
      </if>
      <if test="diagnose != null">
        diagnose,
      </if>
      <if test="examination != null">
        examination,
      </if>
      <if test="handlingSuggestion != null">
        handling_suggestion,
      </if>
      <if test="creationTime != null">
        creation_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="onlyId != null">
        #{onlyId,jdbcType=VARCHAR},
      </if>
      <if test="chiefInfo != null">
        #{chiefInfo,jdbcType=VARCHAR},
      </if>
      <if test="historyOfPresent != null">
        #{historyOfPresent,jdbcType=VARCHAR},
      </if>
      <if test="previousHistory != null">
        #{previousHistory,jdbcType=VARCHAR},
      </if>
      <if test="allergicHistory != null">
        #{allergicHistory,jdbcType=VARCHAR},
      </if>
      <if test="animalHeat != null">
        #{animalHeat,jdbcType=DOUBLE},
      </if>
      <if test="bpm != null">
        #{bpm,jdbcType=DOUBLE},
      </if>
      <if test="breathe != null">
        #{breathe,jdbcType=INTEGER},
      </if>
      <if test="stature != null">
        #{stature,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="bmi != null">
        #{bmi,jdbcType=DOUBLE},
      </if>
      <if test="actuatingPressure != null">
        #{actuatingPressure,jdbcType=DOUBLE},
      </if>
      <if test="diastolicPressure != null">
        #{diastolicPressure,jdbcType=DOUBLE},
      </if>
      <if test="diagnose != null">
        #{diagnose,jdbcType=VARCHAR},
      </if>
      <if test="examination != null">
        #{examination,jdbcType=VARCHAR},
      </if>
      <if test="handlingSuggestion != null">
        #{handlingSuggestion,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jifen.entity.SymptomHospital">
    update symptom_hospital
    <set>
      <if test="chiefInfo != null">
        chief_info = #{chiefInfo,jdbcType=VARCHAR},
      </if>
      <if test="historyOfPresent != null">
        history_of_present = #{historyOfPresent,jdbcType=VARCHAR},
      </if>
      <if test="previousHistory != null">
        previous_history = #{previousHistory,jdbcType=VARCHAR},
      </if>
      <if test="allergicHistory != null">
        allergic_history = #{allergicHistory,jdbcType=VARCHAR},
      </if>
      <if test="animalHeat != null">
        animal_heat = #{animalHeat,jdbcType=DOUBLE},
      </if>
      <if test="bpm != null">
        bpm = #{bpm,jdbcType=DOUBLE},
      </if>
      <if test="breathe != null">
        breathe = #{breathe,jdbcType=INTEGER},
      </if>
      <if test="stature != null">
        stature = #{stature,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="bmi != null">
        bmi = #{bmi,jdbcType=DOUBLE},
      </if>
      <if test="actuatingPressure != null">
        actuating_pressure = #{actuatingPressure,jdbcType=DOUBLE},
      </if>
      <if test="diastolicPressure != null">
        diastolic_pressure = #{diastolicPressure,jdbcType=DOUBLE},
      </if>
      <if test="diagnose != null">
        diagnose = #{diagnose,jdbcType=VARCHAR},
      </if>
      <if test="examination != null">
        examination = #{examination,jdbcType=VARCHAR},
      </if>
      <if test="handlingSuggestion != null">
        handling_suggestion = #{handlingSuggestion,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where only_id = #{onlyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jifen.entity.SymptomHospital">
    update symptom_hospital
    set chief_info = #{chiefInfo,jdbcType=VARCHAR},
      history_of_present = #{historyOfPresent,jdbcType=VARCHAR},
      previous_history = #{previousHistory,jdbcType=VARCHAR},
      allergic_history = #{allergicHistory,jdbcType=VARCHAR},
      animal_heat = #{animalHeat,jdbcType=DOUBLE},
      bpm = #{bpm,jdbcType=DOUBLE},
      breathe = #{breathe,jdbcType=INTEGER},
      stature = #{stature,jdbcType=INTEGER},
      weight = #{weight,jdbcType=DOUBLE},
      bmi = #{bmi,jdbcType=DOUBLE},
      actuating_pressure = #{actuatingPressure,jdbcType=DOUBLE},
      diastolic_pressure = #{diastolicPressure,jdbcType=DOUBLE},
      diagnose = #{diagnose,jdbcType=VARCHAR},
      examination = #{examination,jdbcType=VARCHAR},
      handling_suggestion = #{handlingSuggestion,jdbcType=VARCHAR},
      creation_time = #{creationTime,jdbcType=TIMESTAMP}
    where only_id = #{onlyId,jdbcType=VARCHAR}
  </update>
</mapper>