<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jifen.dao.OrderDiagnosisListMapper">
  <resultMap id="BaseResultMap" type="com.jifen.entity.OrderDiagnosisList">
    <id column="only_id" jdbcType="VARCHAR" property="onlyId" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="classification" jdbcType="INTEGER" property="classification" />
    <result column="project_name" jdbcType="VARCHAR" property="projectName" />
    <result column="count" jdbcType="INTEGER" property="count" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="operation_status" jdbcType="INTEGER" property="operationStatus" />
    <result column="sym_id" jdbcType="VARCHAR" property="symId" />
  </resultMap>
  <sql id="Base_Column_List">
    only_id, open_id, classification, project_name, count, remarks, price, operation_status, 
    sym_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_diagnosis_list
    where only_id = #{onlyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from order_diagnosis_list
    where only_id = #{onlyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jifen.entity.OrderDiagnosisList">
    insert into order_diagnosis_list (only_id, open_id, classification, 
      project_name, count, remarks, 
      price, operation_status, sym_id
      )
    values (#{onlyId,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, #{classification,jdbcType=INTEGER}, 
      #{projectName,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}, #{remarks,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{operationStatus,jdbcType=INTEGER}, #{symId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jifen.entity.OrderDiagnosisList">
    insert into order_diagnosis_list
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="onlyId != null">
        only_id,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="classification != null">
        classification,
      </if>
      <if test="projectName != null">
        project_name,
      </if>
      <if test="count != null">
        count,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="operationStatus != null">
        operation_status,
      </if>
      <if test="symId != null">
        sym_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="onlyId != null">
        #{onlyId,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="classification != null">
        #{classification,jdbcType=INTEGER},
      </if>
      <if test="projectName != null">
        #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="operationStatus != null">
        #{operationStatus,jdbcType=INTEGER},
      </if>
      <if test="symId != null">
        #{symId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jifen.entity.OrderDiagnosisList">
    update order_diagnosis_list
    <set>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="classification != null">
        classification = #{classification,jdbcType=INTEGER},
      </if>
      <if test="projectName != null">
        project_name = #{projectName,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        count = #{count,jdbcType=INTEGER},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="operationStatus != null">
        operation_status = #{operationStatus,jdbcType=INTEGER},
      </if>
      <if test="symId != null">
        sym_id = #{symId,jdbcType=VARCHAR},
      </if>
    </set>
    where only_id = #{onlyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jifen.entity.OrderDiagnosisList">
    update order_diagnosis_list
    set open_id = #{openId,jdbcType=VARCHAR},
      classification = #{classification,jdbcType=INTEGER},
      project_name = #{projectName,jdbcType=VARCHAR},
      count = #{count,jdbcType=INTEGER},
      remarks = #{remarks,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      operation_status = #{operationStatus,jdbcType=INTEGER},
      sym_id = #{symId,jdbcType=VARCHAR}
    where only_id = #{onlyId,jdbcType=VARCHAR}
  </update>
</mapper>