<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jifen.dao.OrderRecordMapper">
  <resultMap id="BaseResultMap" type="com.jifen.entity.OrderRecord">
    <id column="only_id" jdbcType="VARCHAR" property="onlyId" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="order_symp_id" jdbcType="VARCHAR" property="orderSympId" />
    <result column="order_diag_id" jdbcType="VARCHAR" property="orderDiagId" />
    <result column="order_trea_id" jdbcType="VARCHAR" property="orderTreaId" />
    <result column="order_med_id" jdbcType="VARCHAR" property="orderMedId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="charge" jdbcType="VARCHAR" property="charge" />
    <result column="history" jdbcType="VARCHAR" property="history" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="diagnose" jdbcType="VARCHAR" property="diagnose" />
    <result column="creation_time" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    only_id, open_id, order_symp_id, order_diag_id, order_trea_id, order_med_id, name, 
    sex, age, category, charge, history, phone, address, diagnose, creation_time, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from order_record
    where only_id = #{onlyId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from order_record
    where only_id = #{onlyId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jifen.entity.OrderRecord">
    insert into order_record (only_id, open_id, order_symp_id, 
      order_diag_id, order_trea_id, order_med_id, 
      name, sex, age, category, 
      charge, history, phone, 
      address, diagnose, creation_time, 
      status)
    values (#{onlyId,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, #{orderSympId,jdbcType=VARCHAR}, 
      #{orderDiagId,jdbcType=VARCHAR}, #{orderTreaId,jdbcType=VARCHAR}, #{orderMedId,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{age,jdbcType=INTEGER}, #{category,jdbcType=VARCHAR}, 
      #{charge,jdbcType=VARCHAR}, #{history,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{diagnose,jdbcType=VARCHAR}, #{creationTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jifen.entity.OrderRecord">
    insert into order_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="onlyId != null">
        only_id,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="orderSympId != null">
        order_symp_id,
      </if>
      <if test="orderDiagId != null">
        order_diag_id,
      </if>
      <if test="orderTreaId != null">
        order_trea_id,
      </if>
      <if test="orderMedId != null">
        order_med_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="category != null">
        category,
      </if>
      <if test="charge != null">
        charge,
      </if>
      <if test="history != null">
        history,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="diagnose != null">
        diagnose,
      </if>
      <if test="creationTime != null">
        creation_time,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="onlyId != null">
        #{onlyId,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="orderSympId != null">
        #{orderSympId,jdbcType=VARCHAR},
      </if>
      <if test="orderDiagId != null">
        #{orderDiagId,jdbcType=VARCHAR},
      </if>
      <if test="orderTreaId != null">
        #{orderTreaId,jdbcType=VARCHAR},
      </if>
      <if test="orderMedId != null">
        #{orderMedId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="charge != null">
        #{charge,jdbcType=VARCHAR},
      </if>
      <if test="history != null">
        #{history,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="diagnose != null">
        #{diagnose,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jifen.entity.OrderRecord">
    update order_record
    <set>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="orderSympId != null">
        order_symp_id = #{orderSympId,jdbcType=VARCHAR},
      </if>
      <if test="orderDiagId != null">
        order_diag_id = #{orderDiagId,jdbcType=VARCHAR},
      </if>
      <if test="orderTreaId != null">
        order_trea_id = #{orderTreaId,jdbcType=VARCHAR},
      </if>
      <if test="orderMedId != null">
        order_med_id = #{orderMedId,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="category != null">
        category = #{category,jdbcType=VARCHAR},
      </if>
      <if test="charge != null">
        charge = #{charge,jdbcType=VARCHAR},
      </if>
      <if test="history != null">
        history = #{history,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="diagnose != null">
        diagnose = #{diagnose,jdbcType=VARCHAR},
      </if>
      <if test="creationTime != null">
        creation_time = #{creationTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where only_id = #{onlyId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jifen.entity.OrderRecord">
    update order_record
    set open_id = #{openId,jdbcType=VARCHAR},
      order_symp_id = #{orderSympId,jdbcType=VARCHAR},
      order_diag_id = #{orderDiagId,jdbcType=VARCHAR},
      order_trea_id = #{orderTreaId,jdbcType=VARCHAR},
      order_med_id = #{orderMedId,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      category = #{category,jdbcType=VARCHAR},
      charge = #{charge,jdbcType=VARCHAR},
      history = #{history,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      diagnose = #{diagnose,jdbcType=VARCHAR},
      creation_time = #{creationTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER}
    where only_id = #{onlyId,jdbcType=VARCHAR}
  </update>
</mapper>